<!--page that shows a particular cycle for a user-->
<!--provides bread crumbs to navigate to different pages-->
<nav>
    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a> &gt;
    <a href="/users">Users</a> &gt;
    <a href="/user/{{ userCycle.user._id }}">{{ userCycle.user.name }}</a> &gt;
    <strong>{{ userCycle.user.name }}'s {{userCycle.cycle.name}}</strong>
</nav>

<h1>{{{title}}}</h1>
<!--layout for the whole cycle-->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                <span>Week</span>
            </th>
            <!--iterates over the userCycle and displays the day and movement for a week-->
            {{#each userCycle.cycle.weeks.[0].days as |day dayIndex|}}
                <th>
                    <span>Day {{ add dayIndex 1 }} {{day.movement}}</span>
                </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    <!--displays the week date and rep scheme for each day-->
    {{#each userCycle.cycle.weeks as |week wkIndex|}}
            <tr>
                <td>
                    <span>Week of {{ weekDate ../userCycle.startDate wkIndex }}</span>
                </td>
                {{#each week.days as |day dayIndex|}}
                    <td>
                        <!--each day's set is a link to that workouts page-->
                        <a href="/workout/{{../../userCycle._id}}/{{wkIndex}}/{{dayIndex}}">
                            {{#each day.sets as |set|}}
                                1 X  {{set.reps}} at {{ multiply set.weightPercentage 100 }}%<br>
                            {{/each}}
                        </a>
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>

