<nav>
    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a> &gt;
    <a href="/users">Users</a> &gt;
    <a href="/user/{{ userCycle.user._id }}">{{ userCycle.user.name }}</a> &gt;
    <strong>{{ userCycle.user.name }}'s {{userCycle.cycle.name}}</strong>
</nav>

<h1>{{{title}}}</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                <span>Week</span>
            </th>
            {{#each userCycle.cycle.weeks.[0].days as |day dayIndex|}}
                <th>
                    <span>Day {{ add dayIndex 1 }} {{day.movement}}</span>
                </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each userCycle.cycle.weeks as |week wkIndex|}}
            <tr>
                <td>
                    <span>Week of {{ weekDate ../userCycle.startDate wkIndex }}</span>
                </td>
                {{#each week.days as |day dayIndex|}}
                    <td>
                        <a href="/workout/{{../../userCycle._id}}/{{wkIndex}}/{{dayIndex}}">
                            {{#each day.sets as |set|}}
                                1 X  {{set.reps}} at {{ multiply set.weightPercentage 100 }}%<br>
                            {{/each}}
                        </a>
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>

<style>
    .table tbody tr td, .table thead tr th {
        flex: 1px 1 1;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .table tbody tr td a {
        flex: 1px 1 1;
    }
    .table tbody tr td > *, .table thead tr th > * {
        padding: 8px;
    }
    .table tbody tr, .table thead tr {
        display: flex;
    }
</style>
