<h1>{{{cycle.name}}}</h1>
<h5><a href ="/info">Back to main page</a></h5>
<table>

    <thead>
        <tr>
            <th>Week</th>
            <th>Day One Back Squat</th>
            <th>Day Two Front Squat</th>
        </tr>
    </thead>
    <tbody>
        {{#each cycle.weeks as |week wkIndex|}}
            <tr>
                <td>Week of #</td>
                {{#each week.days as |day dayIndex|}}
                    <td><br><a href="/workout/{{../../cycle._id}}/{{wkIndex}}/{{dayIndex}}">
                        {{#each day.sets as |set|}}
                            1 X  {{set.reps}} at {{ multiply set.weightPercentage 100 }}%<br>
                        {{/each}}
                    </a>
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>

<style>
    table {
        width: 100%;
    }
    td, th {
        width: 33%;
        text-align: center;
    }
</style>
