
<nav>
    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a> &gt;
    {{#if user }}
        <a href="/users">Users</a> &gt;
        <a href="/user/{{user._id}}">{{ user.name }}</a> &gt;
        <strong>Edit</strong>
    {{else}}
        <strong>Add User</strong>
    {{/if}}
</nav>

<section class="user-form">
    <h1 class="text-primary">
        {{#if user }}
            Edit {{ user.name }}
        {{else}}
            Enter Your Info
        {{/if}}
    </h1>
    <hr class="hr-primary">
    <form onsubmit="submitUser(event)" novalidate>
        <input type="hidden" name="_id" value="{{user._id}}">
        <div id="nameFormGroup" class="form-group">
            <label for="nameInput" class="control-label">Name</label>
            <input id="nameInput" type="text" class="form-control" name="name" value="{{user.name}}" placeholder="Name" required>
            <p class="help-block required-message">Name is required</p>
            <p class="help-block pattern-message">Name is limited to letters, commas, and spaces.</p>
        </div>
        <div class="form-group">
            <label for="barInput" class="control-label">Bar</label>
            <select id="barInput" type="text" class="form-control" name="bar" placeholdfer="Bar" required>
                <option value="33" {{#eq user.bar 33}}selected="selected"{{/eq}}>Standard Women's (33#)</option>
                <option value="45" {{#eq user.bar 45}}selected="selected"{{/eq}}>Standard Men's (45#)</option>
            </select>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Max Lifts</div>
            <div class="panel-body">
                {{#each lifts as |lift| }}
                    <div id="{{ maxInputName lift }}FormGroup" class="form-group">
                        <label for="{{ maxInputName lift }}Input" class="control-label">{{ lift.name }}</label>
                        <input id="{{ maxInputName lift }}Input" type="text" class="form-control" name="{{ maxInputName lift }}"
                               value="{{ liftWeight ../user lift.name 1 }}" placeholder="Max {{ lift.name }}" required>
                        <p class="help-block required-message">{{ lift.name }} is required</p>
                        <p class="help-block numeric-message">{{ lift.name }} must be a number</p>
                        <p class="help-block minimum-message">{{ lift.name }} must be greater than or equal to the bar weight</p>
                        <p class="help-block maximum-message">{{ lift.name }} must be less than or equal to 500#</p>
                    </div>
                {{/each}}
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
        <div id="serverSuccessMessage" class="alert alert-info"><strong>Yahoo!</strong> Your information is saved and looks pretty excellent, btw...</div>
        <div id="serverErrorMessage" class="alert alert-danger"><strong>Dangit!</strong> There was an error saving your information</div>
    </form>
</section>

<script src="/javascripts/userForm.js"></script>